body
{
    color:forestgreen
    text-align: center;
    font-family: Courier;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#container
{
    width: 75%;
    padding: 0;
    text-align: center;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 30px;
}